/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2847e2;
  --ifm-color-primary-dark: #1c3bd3;
  --ifm-color-primary-darker: #1b38c7;
  --ifm-color-primary-darkest: #162ea4;
  --ifm-color-primary-light: #3f5be5;
  --ifm-color-primary-lighter: #4b65e7;
  --ifm-color-primary-lightest: #6e83eb;
  --ifm-footer-background-color: #1c1e21;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-heading-font-family: 'Source Sans 3', sans-serif;
  --ifm-font-family-base: 'Source Sans 3', sans-serif;
  --aa-primary-color-rgb: 40, 71, 226 !important;
  --aa-muted-color-rgb: 40, 71, 226 !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2847e2;
  --ifm-color-primary-dark: #1c3bd3;
  --ifm-color-primary-darker: #1b38c7;
  --ifm-color-primary-darkest: #162ea4;
  --ifm-color-primary-light: #3f5be5;
  --ifm-color-primary-lighter: #4b65e7;
  --ifm-color-primary-lightest: #6e83eb;
  --ifm-footer-background-color: #f5f5f5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
